# Bağımlılıklar (Docker içinde kurulacak)
node_modules/

# Build çıktıları
dist/
build/

# Log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git ve IDE dosyaları
.git/
.gitignore
.vscode/
.idea/

# Hassas veriler
.env
.env.local